<!DOCTYPE  html>
<html  lang="en">
<head>
<meta  charset="utf-8">
<meta  name="viewport"  content="width=device-width,  initial- scale=1">
</head>
<body>
<a  class="nav-link  active"  aria-current="page" href="home.html">Home</a>
</li>
<li  class="nav-item">
<a  class="nav-link"  href="signup.html">Signup</a>
</li>
<li  class="nav-item">
<a  class="nav-link"  href="login.html">Login</a>
</li>
<li  class="nav-item">
<a  class="nav-link"  href="about.html">about</a>
</li>

</ul>
</li>

</ul>
<form  class="d-flex">
<input  class="form-control  me-2"  type="search" placeholder="Search"  aria-label="Search">
<button  class="btn  btn-outline-success" type="submit">Search</button>
</form>
</div>
</div>
</nav>


<div  class="container  mt-5">

</div>
</body>
</html>
