<!--To design a login page-->
<!DOCTYPE html>
<html>
   <head>
      <title >Signup</title>
   </head>
   <body>
         <form>
            <h1 align="center">SIGN UP</h1>
            <div align="center">
                First Name  :<input type="text" placeholder="name"><br><br>
                Second Name  :<input type="text" placeholder="name"><br><br>
                Date of birth :<input type="date" name="dob"><br><br>
           
                Email :<input type="email" placeholder="address"><br><br>

                Mobile :<input type="text" placeholder="number"><br><br>
                New password : <input type="password" placeholder="password"><br><br>
                Re enter password :<input type="DOCTYPE" placeholder="password"> 
                <br><br>

                 
                  <a href="login.html">
                    <input type="button" value="Create">
                  </a>
               

                 <br><br>
            
                Don't have an account ?
                <br><br>
                <a href="login.html">SIGN UP</a>
            </div>
        </form>
    </body>
</html>

